<link href="../../../Components/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="../../../Components/bower_components/bootstrap-theme-cosmo/cosmo.min.css" rel="stylesheet" />

<div ng-init=" WidgetCaption='Аптечка для взрослого' " ng-controller="MedicineChestController" style="width:100%">
    <!--Some kind of two level list-->
    <div class="list-group" style="margin-bottom: 45px">
        <a href="#/MedicineChest" class="list-group-item active">
            От головной боли
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Цитрамон
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Спазган
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Анальгин
        </a>
        <a href="#/MedicineChest" class="list-group-item active">
            Болеутоляющие
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            НО-ШПА
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Спазмалгон
        </a>
        <a href="#/MedicineChest" class="list-group-item active">
            Жаропонижающие
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Парацетамол
        </a>
        <a href="#/MedicineChest" class="list-group-item active">
            Жаропонижающие
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Парацетамол
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Аспирин
        </a>
        <a href="#/MedicineChest" class="list-group-item active">
            При заболеваниях горла
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Фарингосепт
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Коделак
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Доктор МОМ
        </a>
        <a href="#/MedicineChest" class="list-group-item active">
            Капли в нос
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Глазолин
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Пиносол
        </a>
        <a href="#/MedicineChest" class="list-group-item active">
            При расстройстве желудка
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Фильтрум (Адсорбент)
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Смекта (Противодиарейные средства)
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Левомицетин (Антибиотик)
        </a>
        <a href="#/MedicineChest" class="list-group-item active">
            В случае аллергии
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Эриус
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Супрастин
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Тавегил
        </a>
        <a href="#/MedicineChest" class="list-group-item active">
            При воспалении глаз и ушей
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Софрадекс
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Альбуцид
        </a>
        <a href="#/MedicineChest" class="list-group-item active">
            Для обработки ран
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Йод или зеленка карандаш
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Марлевые салфетки, бинт
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Пластырь бактерицидный
        </a>
        <a href="#/MedicineChest" class="list-group-item active">
            От ушибов, порезов, растяжений и ожегов
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Спасатель (универсальная мазь) 
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Траумель
        </a>
        <a href="#/MedicineChest" class="list-group-item">
            Пантенол (от ожегов)
        </a>
    </div>
    <!--Footer: Buttons: Check all; Uncheck all-->
    <div style="position:fixed; width:100%; bottom:0px; z-index:10;">
        <a href="#" class="btn btn-primary" style="width:50%; float:left;">Выделить все</a>
        <a href="#" class="btn btn-primary" style="width:50%; ">Снять все</a>
    </div>
</div>
